
<h3> Como componente Angular y con estilo de bootstrap "card" </h3>


Nuevo destino <input type="text" #destinoInput>
<button (click)="cliked( destinoInput )"> Guardar </button>


<app-destino-viaje *ngFor="let x of destinos" [nombre]="x" ></app-destino-viaje>

<br>

<h3> Como lista ul </h3>
<ul>
    <li *ngFor="let x of destinos"> {{ x }} </li>
</ul>